$DefaultNetstreamDriverCAFile /etc/papertrail-bundle.pem # trust these CAs
$PreserveFQDN {{ papertrail_preserve_fqdn | default('off') }}
*.* action(type="omfwd" Target="{{ papertrail_host }}" Port="{{ papertrail_port }}" Protocol="tcp"
 StreamDriver="gtls" # use gtls netstream driver
 StreamDriverMode="1" # require TLS
 StreamDriverAuthMode="x509/name" # authenticate by hostname
 StreamDriverPermittedPeers="*.papertrailapp.com"
 Action.ResumeInterval="10"
 Queue.Size="100000"
 Queue.DiscardMark="97500"
 Queue.HighWaterMark="80000"
 Queue.Type="LinkedList"
 Queue.FileName="papertrailqueue"
 Queue.CheckpointInterval="100"
 Queue.MaxDiskSpace="2g"
 Action.ResumeRetryCount="-1"
 Queue.SaveOnShutdown="on"
 Queue.TimeoutEnqueue="2"
 Queue.DiscardSeverity="0"

 KeepAlive="on"
 KeepAlive.Probes="3"
 KeepAlive.Time="120"
 KeepAlive.Interval="30"
)
